body {
    background: url("../img/background 1.png") no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1030px;
    margin: 0 auto;
    height: 768px;
}

/*header-styles*/

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 124px;
    color: white;
    margin-top: 51px;
}

.header-left-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    width: 158px;
    justify-content: space-between;
}

.header-left-link:hover {
    color: #F26522;
}

.header-left-logo {
    position: relative;
}

.orange-logo {
    opacity: 0;
    position: absolute;
    right: 0;
}

.header-left-link:hover .white-logo {
    opacity: 0;
}

.header-left-link:hover .orange-logo {
    opacity: initial;
}

.header-left-name {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    height: 47px;
}

.header-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 47px;
    justify-content: space-between;
}

.milan {
    font-size: 29px;
}

.holidays {
    font-size: 18px;
}

.mail {
    text-decoration: none;
    color: white;
}

.mail:hover {
    color: #F26522;
}

.phone {
    text-decoration: none;
    color: white;
}

.phone:hover {
    color: #F26522;
}

/*main-styles*/

.flex-container {
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 62px;
    grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
    box-sizing: border-box;
}

.item1 {
    grid-area: item1;
    text-decoration: none;
}

.item2 {
    grid-area: item2;
    text-decoration: none;
}

.item3 {
    grid-area: item3;
    text-decoration: none;
}

.item4 {
    grid-area: item4;
    text-decoration: none;
}

.item5 {
    grid-area: item5;
    text-decoration: none;
}

.item6 {
    grid-area: item6;
    text-decoration: none;
}

.main-text-size {
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.cards-tours {
    position: relative;
    overflow: hidden;
}
.view-details {
    height: 55px;
    width: 304px;
    background-color: #f26522;
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    bottom: -55px;
}

.item:hover .view-details {
    transform: translateY(-55px);
    opacity: initial;
}
.item:hover .main-text-size {
    color: #F26522;
}

.from {
    font-size: 10px;
    left: 20px;
    color: white;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.euro {
    font-size: 20px;
    top: 30px;
    left: 20px;
    color: white;
    padding-left: 16px;
}

.details {
    font-size: 14px;
    top: 30px;
    right: 20px;
    color: white;
    padding-left: 128px;
}

.details::after {
    content: "\203A";
    padding-left: 20px;
}

.footer-container-copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 57px;
    margin-bottom: 15px;
    color: white;
}